<div class="padding">
<div class="large-10 columns">
<div data-alert class="alert-box warning round" ng-repeat="error in errors">
    {{error}}{{error1}}
</div>
<div class="login-form" ng-hide="registerShow">
    <h2>Login</h2>
    <form name="loginForm"  role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ng-model="loginUser.email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="loginUser.password" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
            <a class="button btn-link" ng-click="showRegister()">Register</a>
        </div>
    </form>
</div>

<div class="register-form" ng-show="registerShow">
<h2>Register</h2>
    <form name="registerForm" role="form">
        <!-- <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div> -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="registerUser.email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="registerUser.password" />
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" ng-model="registerUser.confirmPassword" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="register()">Register</button>
            <a  class="button btn-link" ng-click="showLogin()">Cancel</a>
        </div>
    </form>
</div>

</div>
</div>