.userStuff
{
  background-color:#c0392b;
  color:#fff;
  font-family:'Helvetica';
  font-size:22px;
  width:100%;
  min-height:100px;
  padding:10px;
}

li.gridster-item{
  background:white;
  border-radius:5px;
   box-shadow:0 0 10px 0 rgba(0,0,0,.1);
}

li.gridster-item li.gridster-item{
  background:#e74c3c;
}

